@media (max-width: 700px) {
    
  .logo{
    width:144px;
  }
  .nav-font{
    font-size: "16px";
    gap: 5px;
  }
  .head-font{
    font-size: "44px";
    font-weight: "500";
    text-align: left;
    color: black;
  }
  .nav-logo{
    margin: 10px 0 10px 20px;
  }
}
@media (min-width: 700px){
    
  .logo{
    width:220px;
    
  }
  .nav-logo{
    margin: 10px 140px 10px 6vmax;
  }
  .nav-font{
    
    font-size: "20px";
    gap: 40px;
  }
}
